# Copier ce fichier en keystore.properties et remplir avec vos vraies valeurs
# NE PAS commiter keystore.properties dans Git

storeFile=fix72-release.keystore
storePassword=VotreMotDePasseKeystore
keyAlias=fix72
keyPassword=VotreMotDePasseCle
